.App {
  text-align: center;
  background-color:lightgrey;
  
}
h1 {
  margin-bottom: 50px !important;
}

.products-content,
.about-content,
.home-content {
  padding: 50px;
}

.Search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.nav-link {
  color: #9cbad8 !important;
  font-size: 20px;
}

.selected-link {
  color: #faad79 !important;
}